.copyright {
  margin-top: 20px;
}

th.th-70 {
  width: 70px;
}

th.th-50 {
  width: 50px;
}

th.th-100 {
  width: 100px;
}

th.th-120 {
  width: 120px;
}

th.th-150 {
  width: 150px;
}

th.th-170 {
  width: 170px;
}

th.th-200 {
  width: 200px;
}

th.th-250 {
  width: 250px;
}

th.th-270 {
  width: 270px;
}

th.th-300 {
  width: 300px;
}

th.th-op3 {
  width: 220px;
}

th.th-op2 {
  width: 190px;
}

th.th-op1 {
  width: 100px;
}

.expandable-body > td {
  width: auto;
}

.avatar {
  height: auto;
  width: 3rem;
}

.pagebtn {
  padding: 0.25rem 0.5rem !important;
  height: auto !important;
  margin-left: 0.5rem;
}

.page-link:hover {
  cursor: pointer;
}

.cardbtn {
  margin-bottom: 10px;
}

td {
  vertical-align: middle !important;
}

.hide {
  display: none;
}
