{{define "common_header"}}
<title>{{ ._title }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="csrf-token" content="{{ ._csrftoken }}">

<link rel="stylesheet" href="/css/main/adminlte.min.css" />
<link rel="stylesheet" href="/css/main/fontawesome-all.min.css" />
<link rel="stylesheet" href="/css/main/icheck-bootstrap.min.css" />
<link rel="stylesheet" href="/css/main/Source-Sans-Pro.css" />
<link rel="stylesheet" href="/css/main/toastr.min.css" />
<link rel="stylesheet" href="/css/main/bootstrap-switch.min.css" />
<link rel="stylesheet" href="/css/main/skynet.css" />

<script nonce="{{ ._nonce }}" src="/js/main/jquery.min.js"></script>
<script nonce="{{ ._nonce }}" src="/js/main/attrchange.min.js"></script>
<script nonce="{{ ._nonce }}" src="/js/main/bootstrap.bundle.min.js"></script>
<script nonce="{{ ._nonce }}" src="/js/main/adminlte.min.js"></script>
<script nonce="{{ ._nonce }}" src="/js/main/toastr.min.js"></script>
<script nonce="{{ ._nonce }}" src="/js/main/skynet.js"></script>
<script nonce="{{ ._nonce }}" src="/js/main/bootstrap-switch.min.js"></script>
<script nonce="{{ ._nonce }}" src="/js/main/bs-custom-file-input.min.js"></script>
<script nonce="{{ ._nonce }}" src="/js/main/sortable.min.js"></script>
{{end}}