<!DOCTYPE html>
<html lang="en">

<head>
  {{ template "common_header" . }}
</head>

<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="/"><b>Skynet</b></a>
    </div>

    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">BIG BROTHER IS WATCHING YOU</p>

        <form id="loginForm" action="/api/signin" method="post" class="form-horizontal">
          <div class="input-group mb-3">
            <input name="username" type="text" class="form-control" placeholder="Username" maxlength="32" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input name="password" type="password" class="form-control" placeholder="Password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-warning">
                <input name="remember" type="checkbox" id="remember">
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div>
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="text-center copyright">
    Copyright © 2021 <a href="https://www.imwxz.com/">imwxz</a>. All rights
    reserved.
  </div>

  <script nonce="{{ ._nonce }}">
    "use strict"

    $("#loginForm").submit((e) => {
      e.preventDefault();
      let form = document.getElementById("loginForm");
      let d = GetData(form);
      d["remember"] = "remember" in d ? true : false;
      JSONPost(GetUrl(form), d)
        .done(function (d) {
          if (d.code != 0)
            toastr.error(d.msg);
          else
            toastr.success(d.msg, "", {
              timeOut: 500, onHidden: () => {
                window.location.href = "/dashboard";
              }
            });
        })
    });
  </script>
</body>

{{ template "common_footer" . }}

</html>