{{define "content"}}
<div class="container-fluid">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Plugin List</h3>
    </div>
    <div class="card-body">
      <div class="input-group cardbtn col-sm-4 pl-0 pr-0">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="pluginPackage" accept=".sp">
          <label class="custom-file-label" for="pluginPackage">Choose .sp file</label>
        </div>
        <div class="input-group-append" id="upload">
          <button id="upload" class="btn input-group-text">Upload</button>
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="th-300">ID</th>
            <th class="th-200">Name</th>
            <th class="th-70">Version</th>
            <th class="th-70">Status</th>
            <th>Message</th>
            <th class="th-op1">Operation</th>
          </tr>
        </thead>
        <tbody id="plugin">
        </tbody>
      </table>
    </div>
    <div class="card-footer clearfix">
      <ul data-page="plugin" data-total="{{ ._total }}"
        class="pagination pagination-sm m-0 d-flex justify-content-center">
      </ul>
    </div>
  </div>
  <button id="reload" class="btn btn-primary">Reload Skynet</button>
</div>
</div>
{{end}}

{{define "js"}}
<script nonce="{{ ._nonce }}">
  "use strict"

  const ParseData = (d) => {
    return `
      <tr>
        <td>${d.ID}</td>
        <td>${d.Name}</td>
        <td>${d.Version}</td>
        <td>${d.Enable ? '<span class="badge bg-success">ENABLED</span>' : '<span class="badge bg-danger">DISABLED</span>'}</td>
        <td>${d.Message}</td>
        <td>
          ${d.Enable ? '<button data-operation="disable" data-pluginID="' + d.ID + '" type="button" class="btn btn-outline-warning">Disable</button>' :
        '<button data-operation="enable" data-pluginID="' + d.ID + '" type="button" class="btn btn-outline-primary">Enable</button>'}
        </td>
      </tr>
    `;
  };

  const ParseFunc = (obj, page, size) => {
    JSONGet(`/api/plugin?page=${page}&size=${size}`).done((e) => {
      if (UpdateTotal("plugin", e.total, ParseFunc))
        return;
      if (JSON.stringify(e.data) !== JSON.stringify(obj.data)) {
        $("#plugin").empty();
        $.each(e.data, function (_, e) {
          $("#plugin").append(ParseData(e));
        });

        $("[data-operation='enable']").click((e) => {
          JSONPatch(`/api/plugin/${e.target.getAttribute("data-pluginID")}`, {
            "enable": true,
          }).done(DelayReload());
        });

        $("[data-operation='disable']").click((e) => {
          JSONPatch(`/api/plugin/${e.target.getAttribute("data-pluginID")}`, {
            "enable": false,
          }).done(DelayReload(5000));
        });
        obj.data = e.data;
      }
    })
  };
  ParsePage('plugin', 10, [5, 10, 20, 50], ParseFunc, 0);

  $('#reload').click((e) => {
    JSONGet('/api/reload').done(DelayReload(5000));
  });

  $('#upload').click((e) => {
    var file = $('input[type=file]')[0].files[0];
    if (file != undefined) {
      var fr = new FileReader();
      fr.readAsDataURL(file);
      fr.onload = (e) => {
        JSONPost('/api/plugin', { "file": fr.result }).done(DelayReload());
      };
    }
  });
</script>
{{end}}