{{define "content"}}
<div class="container-fluid">
  <form id="userSettingForm" action="/api/user/{{._id}}" method="patch" class="form-horizontal">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">User Setting</h3>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Avatar</label>
          <div class="col-sm-10">
            <img src="data:image/webp;base64,{{ ._avatar }}" class="img-circle elevation-2 avatar" alt="User Image">
            <input type="file" name="avatar" accept="image/png, image/jpeg, image/webp" class="ml-5">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Username</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="username" maxlength="32" value="{{ ._username }}">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Role</label>
          <div class="col-sm-10 my-auto">
            {{ if eq ._role 2 }}
            <td><span class="badge bg-orange">Admin</span></td>
            {{ else }}
            <td><span class="badge bg-secondary">User</span></td>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mb-4">Save & Refresh</button>
  </form>
  {{ if eq ._role 2 }}
  <div class="card card-success">
    <div class="card-header">
      <h3 class="card-title">UI Setting</h3>
    </div>
    <div class="card-body">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Navbar order</label>
        <button id="navOrder" class="btn btn-primary">Drag to edit</button>
      </div>
    </div>
  </div>
  {{ end }}
</div>
{{end}}

{{define "js"}}
<script nonce="{{ ._nonce }}">
  "use strict"

  $('#userSettingForm').submit(function (e) {
    e.preventDefault();
    let form = document.getElementById('userSettingForm');
    let d = GetData(form);
    delete d['avatar'];

    var file = $('input[type=file]')[0].files[0];
    if (file != undefined) {
      var fr = new FileReader();
      fr.readAsDataURL(file);
      fr.onload = (e) => {
        d['avatar'] = fr.result;
        JSONPatch(GetUrl(form), d).done(DelayReload());
      };
    } else {
      JSONPatch(GetUrl(form), d).done(DelayReload());
    }
  });

  $('#navOrder').click((e) => {
    if (e.target.innerText == 'Save') {
      JSONPost('/api/setting/navbar', {
        'order': $('#navbar li a p[id]').map(function () { return this.id; }).get(),
      }).done(DelayReload());
    } else {
      new Sortable($('#navbar')[0], {
        animation: 150,
        swapThreshold: 0.65
      });
      let subBar = $('.nav-treeview');
      for (var i = 0; i < subBar.length; i++) {
        new Sortable(subBar[i], {
          group: 'nest-' + i,
          animation: 150,
          fallbackOnBody: true,
          swapThreshold: 0.65
        });
      }
      $('#navOrder').text('Save');
      $('#navOrder').removeClass('btn-primary').addClass('btn-danger');
    }
  });
</script>
{{end}}