<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="/dashboard.html" class="brand-link text-center">
    <span class="brand-text font-weight-light"><b>Skynet</b></span>
  </a>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="data:image/webp;base64,{{ .avatar }}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info username">
        <a href="#" class="d-block text-truncate">{{ .username }}</a>
      </div>
      <div class="info ml-auto">
        <button id="signout" type="button" class="mr-auto btn btn-xs btn-outline-danger btn-flat">Sign out</button>
      </div>
    </div>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-compact nav-flat" data-widget="treeview" role="menu"
        data-accordion="false">
        {{range .sitepath}}
        <li class="nav-item">
          {{if .Active}}
          <a href={{ .Link }} class="nav-link active">
            {{else}}
            <a href={{ .Link }} class="nav-link">
              {{end}}
              <i class="nav-icon fas {{ .Icon }}"></i>
              <p>{{ .Name }}</p>
            </a>
        </li>
        {{end}}
      </ul>
    </nav>
  </div>
</aside>