{{define "header"}}
<link rel="stylesheet" href="/css/xterm.css" />
<script nonce="{{ ._nonce }}" src="/js/xterm.js"></script>
{{end}}

{{define "content"}}
<div class="container-fluid">
  <div class="card card-warning">
    <div class="card-header">
      <h3 class="card-title">Agent Shell</h3>
    </div>
    <div class="card-body">
      <form class="form-horizontal">
        <div class="form-group row">
          <label class="col-sm-1 col-form-label">Agent:</label>
          <div class="col-sm-2">
            <select name="id" class="form-control">
              {{range .agents}}
              {{if .Online}}
              <option>{{ .Name }}({{ .ID }})</option>
              {{end}}
              {{end}}
            </select>
          </div>
          <div class="col-sm-1">
            <button type="submit" class="btn btn-primary">Connect</button>
          </div>
        </div>
      </form>
      <div id="terminal"></div>
    </div>
  </div>
</div>
{{end}}

{{define "js"}}
<script nonce="{{ ._nonce }}">
  "use strict"
  var term = new Terminal();
  term.open(document.getElementById('terminal'));
  term.write('No agent selected');
</script>
{{end}}